@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Registeration";
}
@model UserModel
<div class="d-flex flex-column justify-content-center align-items-center bg-white rounded p-5 shadow-lg"
    style="width:fit-content">
    <div class="d-flex align-items-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/library.svg" alt="library-icon" style="height: 40px;width:50px" >
        </a>
    </div>
    <h3>Registration</h3>
    <form class="d-flex flex-column justify-content-center align-items-center" method="post">
        <div class="mb-2">
            <label class="form-label" >Name </label>
            <input asp-for="userName" type="text" class="form-control" placeholder="Enter Name" />
        </div>
        <div  class="mb-2">
            <label class="form-label">Password</label>
            <input asp-for="password" type="password" class="form-control" placeholder="Enter Password">
        </div>
        @* <div  class="mb-2">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password">
        </div> *@
        <div class="mt-2">
            <button class="btn-md btn-primary rounded">Register</button>
        </div>
    </form>
     <a asp-controller="Auth" asp-action="UserLogin" class="text-muted pt-2 text-center text-decoration-none">Already Registered? Login Here</a>
</div>