@{
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}
@model List<BookTransactionsModel>
    <div class="d-flex flex-column justify-content-center">
@{
    if(ViewBag.error == "true"){
        <div class="alert alert-danger  fade show" role="alert">
                please enter valid details
        </div>
    }
}
<div class="text-center">
    <h3>
        All Transactions
    </h3>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <td>
                    Transaction Id
                </td>
                <td>
                    Book Id
                </td>
                <td>
                    User Id
                </td>
                <td>
                    Expiry Date
                </td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var transaction in Model)
                {
                    <tr>
                        <td>
                           @transaction.transactionId
                        </td>
                        <td>
                            @transaction.bookId
                        </td>
                        <td>
                            @transaction.userId
                        </td>
                        <td>
                            @transaction.expiryDate.ToShortDateString()
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
</div>